.friendList {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.item {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transition: transform 250ms ease-in-out;
}

.item:not(:last-child) {
  margin-bottom: 10px;
}

.item:hover,
.item:focus {
  transform: scale3d(0.95, 0.95, 0.95);
}

.imgWrapper {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  overflow: hidden;
  margin-right: 10px;
}

.status {
  display: block;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: brown;
  margin-right: 10px;
}

.online {
  composes: status;
  background-color: green;
}

.offline {
  composes: status;
  background-color: red;
}

.name {
  font-weight: 500;
}
