.transaction {
  width: 400px;
  margin-right: auto;
  margin-left: auto;
}

.transactionHistory {
  width: 100%;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
}

.transTablThead {
  background-color: rgb(153, 113, 248);
  color: white;
  text-transform: uppercase;
}

.tdTableType {
  text-transform: capitalize;
}

th,
td {
  padding: 5px;
}

.rowTablBody:nth-child(2n) {
  background-color: rgba(199, 138, 253, 0.471);
}
.rowTablBody:nth-child(2n + 1) {
  background-color: rgba(255, 255, 255, 0.922);
}
